.button {
  background-color: transparent;
  border-color: #1ad1b9;
  color: #1ad1b9;
  position: relative;
}

.button:hover,
.button:active {
  color: white;
}

.button span {
  margin: 0 0.5rem;

  &:first-child {
    font-size: 2rem;
  }
}

.badge {
  background-color: #1ad1b9;
  border-radius: 30px;
    padding: 0.1rem 0.6rem;
    color: #1d1d1d;
    position: absolute;
    bottom: 2.4rem;
    left: 1.6rem;
}